<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swtichBtn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73663C381E8B42F50016BA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73663C511E8B42F50016BA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73663C5C1E8B42F50016BA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
